<div class="container-fluid d-flex flex-column gap-2">
  <div class="d-flex gap-2"><b>Nombre del país:</b><span>Perú</span></div>
  <div class=" img">
  <img src="https://cdn.britannica.com/48/3448-004-33B5D198/Flag-Peru.jpg" alt="flag" width="250">
</div>
<b>Datos generales.</b>
<p>Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad
  inca
  en las alturas de los Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino del Inca y la
  ciudad colonial de Cuzco, es rica en sitios arqueológicos.
  El Perú es uno de los países más variados del mundo. Un país multicultural, lleno de tradiciones, una laureada
  gastronomía y vastas reservas naturales.
</p>
</div>