<div class="container-fluid d-flex flex-column gap-2">
  <div class="d-flex gap-2"><b>Nombre del país:</b><span>Chile</span></div>
  <div class=" img">
  <img
    src="https://static.vecteezy.com/system/resources/previews/002/431/835/original/illustration-of-the-chile-flag-free-vector.jpg"
    alt="flag" width="250">
</div>
<b>Datos generales.</b>
<p>Chile es un país largo y angosto que se extiende por el borde occidental de Sudamérica, con más de 6,000 km de
  costa
  en
  el océano Pacífico. Santiago, su capital, se ubica en un valle rodeado de los Andes y la cordillera de la Costa. En
  la
  Plaza de Armas de la ciudad, bordeada de palmeras, se encuentra la catedral neoclásica y el Museo de Historia
  Nacional.
  El enorme Parque Metropolitano cuenta con piscinas, un jardín botánico y un zoológico
</p>
</div>