<div class="container-fluid d-flex flex-column gap-2">
  <div class="d-flex gap-2"><b>Nombre del país:</b><span>Uruguay</span></div>
  <div class=" img">
    <img src="https://seekflag.com/app/uploads/2021/12/Uruguay-01-1024x683.png" alt="flag" width="250">
  </div>
  <b>Datos generales.</b>
  <p>Uruguay es un país de Sudamérica conocido por su interior verde y costa bordeada de playas. La capital, Montevideo,
    se
    ubica en torno a la plaza Independencia, donde alguna vez hubo una ciudadela española. Esta lleva a la Ciudad Vieja,
    casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes. La Rambla es un paseo costero con
    puestos de
    pescados, muelles y parques.</p>
</div>